<h1>
  Add a new race
</h1>


<hr>

<!-- Form race start -->
<form action="/create_race" method="post">
<!-- Form race end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for event_id start -->
  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <!-- Input for event_id start -->
    <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :created_at, @race.event_id), :class => "form-control") %>
    <!-- Input for event_id end -->
  </div>
  <!-- Label and input for event_id end -->

  <!-- Label and input for year_id start -->
  <div class="form-group">
    <label for="year_id">
      Year
    </label>

    <!-- Input for year_id start -->
    <input type="text" id="year_id" name="year_id" class="form-control">
    <!-- Input for year_id end -->
  </div>
  <!-- Label and input for year_id end -->

  <!-- Label and input for location_id start -->
  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <!-- Input for location_id start -->
    <input type="text" id="location_id" name="location_id" class="form-control">
    <!-- Input for location_id end -->
  </div>
  <!-- Label and input for location_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create race
  </button>
</form>

<hr>

<a href="/races">
  Go back
</a>
