<form action="/create_comment_from_user_race" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control" value="<%= @comment.body %>">
  </div>

  <input type="hidden" name="commentor_id" value="<%= current_user.id %>">

  <input type="hidden" name="user_race_id" value="<%= @user_race.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>
