<h1>
  Add a new user race
</h1>


<hr>

<!-- Form user_race start -->
<form action="/create_user_race" method="post">
<!-- Form user_race end -->

  <!-- Label and input for user_id start -->
  <!-- Input for "user_id" start -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <!-- Input for "user_id" end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for race_id start -->
  <div class="form-group">
    <label for="race_id">
      Race
    </label>

    <!-- Input for race_id start -->
    <%= select_tag(:race_id, options_from_collection_for_select(Race.all, :id, :name, @user_race.race_id), :class => "form-control") %>
    <!-- Input for race_id end -->
  </div>
  <!-- Label and input for race_id end -->

  <!-- Label and input for time start -->
  <div class="form-group">
    <label for="time">
      Time
    </label>

    <!-- Input for time start -->
    <input type="text" id="time" name="time" class="form-control">
    <!-- Input for time end -->
  </div>
  <!-- Label and input for time end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <label for="body">
      Body
    </label>

    <!-- Input for body start -->
    <input type="text" id="body" name="body" class="form-control">
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <!-- Label and input for overall_place start -->
  <div class="form-group">
    <label for="overall_place">
      Overall place
    </label>

    <!-- Input for overall_place start -->
    <input type="text" id="overall_place" name="overall_place" class="form-control">
    <!-- Input for overall_place end -->
  </div>
  <!-- Label and input for overall_place end -->

  <!-- Label and input for age_group_place start -->
  <div class="form-group">
    <label for="age_group_place">
      Age group place
    </label>

    <!-- Input for age_group_place start -->
    <input type="text" id="age_group_place" name="age_group_place" class="form-control">
    <!-- Input for age_group_place end -->
  </div>
  <!-- Label and input for age_group_place end -->

  <button class="btn btn-block btn-outline-secondary">
    Create user race
  </button>
</form>

<hr>

<a href="/user_races">
  Go back
</a>
